.mediaViewInfo {
	--web-view-name: Flexible content;
	--web-view-id: Flexible_content;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Flexible_content;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Flexible_content {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 671px;
	background-color: rgba(232,232,232,1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: nowrap;
	--web-view-name: Flexible content;
	--web-view-id: Flexible_content;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
	padding:  25px;
}
#FlexGroup {
	position: relative;
	width: 589px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-self: auto;
	overflow: visible;
}
#content {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 590px;
	text-align: left;
	font-family: Malayalam Sangam MN;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(34,44,65,1);
}
#REPEAT_CONTENT {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(77,77,77,1);
}