.mediaViewInfo {
	--web-view-name: Vertical Page;
	--web-view-id: Vertical_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Vertical_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Vertical_Page {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 671px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	--web-view-name: Vertical Page;
	--web-view-id: Vertical_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
#Group_78 {
	position: relative;
	width: 671px;
	height: 381px;
	align-self: auto;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 671px;
	height: 381px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#FlexGroup {
	position: relative;
	width: 629px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-self: auto;
	overflow: visible;
}
#My_summer_vacation_in_the_moun {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 576px;
	height: 41px;
	text-align: left;
	font-family: Malayalam Sangam MN;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(34,44,65,1);
}
#content {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 628px;
	text-align: justify;
	font-family: Malayalam Sangam MN;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(34,44,65,1);
}
#Button {
	position: relative;
	width: 271px;
	height: 60px;
	align-self: flex-end;
	overflow: visible;
}
.Rectangle_448 {
	position: absolute;
	overflow: visible;
	width: 271px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Read_More {
	left: 84.5px;
	top: 16.491px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Malayalam Sangam MN;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.Rectangle_454 {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 52px;
	align-self: auto;
}
#ADD_MORE_CONTENT_ON_LOAD {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 306px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(95,90,90,1);
}
#ITEM_GAP {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(95,90,90,1);
}