:root {
	--web-view-ids: Side_Nav,Contact_Us;
	--web-view-name: Contact Us;
	--web-view-id: Contact_Us;
	--web-scale-to-fit: false;
	--web-scale-to-fit-type: default;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: false;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: true;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#Side_Nav,
#Contact_Us {
	display: none;
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Side Nav;
		--web-view-id: Side_Nav;
		--web-scale-on-resize: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Coffee_Bean {
		left: 6px;
		top: 10px;
		position: absolute;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		line-height: 50px;
		margin-top: -15px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(93,93,93,1);
		letter-spacing: -0.03px;
	}
	#Home {
		left: 9px;
		top: 41px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		line-height: 50px;
		margin-top: -15px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.03px;
	}
	#About {
		left: 9px;
		top: 72px;
		position: absolute;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		line-height: 50px;
		margin-top: -15px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.03px;
	}
	#Divider {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Divider {
		overflow: visible;
		position: absolute;
		width: 101px;
		height: 1px;
		left: 9.418px;
		top: 104.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Contact {
		left: 9px;
		top: 115px;
		position: absolute;
		overflow: visible;
		width: 70px;
		white-space: nowrap;
		line-height: 50px;
		margin-top: -15px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.03px;
	}
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Contact Us;
		--web-view-id: Contact_Us;
		--web-scale-on-resize: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Contact_Us {
		position: absolute;
		display: block;
		width: 100%;
		height: 537px;
		background-color: rgba(245,245,245,1);
		overflow: hidden;
		--web-view-name: Contact Us;
		--web-view-id: Contact_Us;
		--web-scale-on-resize: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	#Nav {
		position: absolute;
		width: 100%;
		height: 59px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#header_container {
		position: absolute;
		width: 100%;
		height: 59px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Top_Background {
		fill: rgba(238,110,114,1);
	}
	.Top_Background {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 48.4px;
		left: 0px;
		top: 0px;
	}
	#Bottom_Background {
		fill: rgba(253,225,196,1);
	}
	.Bottom_Background {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 11px;
		left: 0px;
		top: 48px;
	}
	#Header {
		position: absolute;
		width: 80%;
		height: 17px;
		left: 50%;
		transform: translateX(-50%);
		top: 20.5px;
		overflow: visible;
		max-width: 900px;
	}
	#COFFEE_BEAN {
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.03px;
	}
	#Group_4 {
		position: absolute;
		width: 19px;
		height: 10px;
		right: 0px;
		top: 3.5px;
		overflow: visible;
		cursor: pointer;
	}
	#Line_92 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_92 {
		overflow: visible;
		position: absolute;
		width: 19px;
		height: 2px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_93 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_93 {
		overflow: visible;
		position: absolute;
		width: 19px;
		height: 2px;
		left: 0px;
		top: 5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_94 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_94 {
		overflow: visible;
		position: absolute;
		width: 19px;
		height: 2px;
		left: 0px;
		top: 10px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_2 {
		position: absolute;
		width: 80%;
		height: 275px;
		left: 50%;
		transform: translateX(-50%);
		top: 89px;
		overflow: visible;
		max-width: 900px;
	}
	#Contact_Us_bh {
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 99px;
		white-space: nowrap;
		line-height: 50px;
		margin-top: -15px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.03px;
	}
	#Lorem_ipsum_dolor_sit_amet_con {
		left: 0px;
		top: 45px;
		position: absolute;
		overflow: visible;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.03px;
	}
	#Line_85 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_85 {
		overflow: visible;
		position: relative;
		width: 272px;
		height: 1px;
		left: 0.5px;
		top: 151.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Find_us_at {
		left: 0px;
		top: 186px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.03px;
	}
	#ID1234_Coffee_Bean_Lane_New_Yo {
		left: 2px;
		top: 222px;
		position: absolute;
		overflow: visible;
		width: 169px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.03px;
	}
}
